<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/logindetails" method="post">
        <label>username</label><input type="text" placeholder="username">
        <label>password</label><input type="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
    <a href="forgot">Forgot password</a>
</body>
</html>