<html>
    <head>
        <title> Register</title>
        <link ref="stylesheet" href="/public/register.css/"/>
    </head>
    <body>
        <div class="register-box">
            <form action="/register" method="post">
            <label>Email</label><input type="email" name="email" placeholder="email">
            <label>Password</label><input type="password" name="password" placeholder="password">
            <label>username</label><input type="username" name="username" placeholder="username">
            <button type="submit" id="register-btn">Register</button>
            </form>
            <button type="button" id="login"><a href="login">login</a></button>
        </div>
       
    </body>
</html>
